@font-face {
    font-family: "Golos Text";
    src: url("../fonts/golos-text/GolosText-Regular.woff2") format("woff2"),
        url("../fonts/golos-text/GolosText-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Golos Text", sans-serif;
    font-weight: normal;
}

.container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}

.hero {
    padding: 165px 0;
    background-color: #000000;
    text-align: center;
}

.hero__title {
    margin-bottom: 86px;
    font-size: 24px;
    font-weight: normal;
    line-height: 125%;
    letter-spacing: 0;
    text-align: center;
    text-transform: none;
    opacity: 0.5;
}

.hero__text {
    margin-bottom: 110px;
    font-weight: 400;
    text-align: center;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.hero__img-wrapper {
    display: inline-flex;
    overflow: hidden;
    border-radius: 160px;
    height: 84px;
}

.hero__img {
    height: 100%;
    object-fit: cover;
}

.hero__btn-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    position: relative;
    padding: 24px 56px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    transition: border-color 0.3s ease;
}

.btn:before {
    left: -24px;
    bottom: 0;
    border-right: 24px solid #ffffff;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}
.btn:after {
    right: -24px;
    bottom: 0;
    border-left: 24px solid #ffffff;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

.btn:hover:before {
    border-right-color: rgba(255, 255, 255, 0.5);
}
.btn:hover:after {
    border-left-color: rgba(255, 255, 255, 0.5);
}
