@font-face {
    font-family: "Golos Text";
    src: url("../fonts/golos-text/GolosText-Regular.woff2") format("woff2"),
        url("../fonts/golos-text/GolosText-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Golos Text", sans-serif;
    font-weight: normal;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
}

.container {
    max-width: 1670px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}

.hero {
    padding: 165px 0;
    background-color: #000000;
}

.hero__title {
    margin-bottom: 86px;
    font-size: 24px;
    font-weight: normal;
    line-height: 125%;
    letter-spacing: 0;
    text-align: center;
    text-transform: none;
    opacity: 0.5;
}

.hero__text {
    margin-bottom: 110px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
}

.hero__img-wrapper {
    display: inline-flex;
    overflow: hidden;
    border-radius: 160px;
    height: 84px;
}

.hero__img {
    height: 100%;
    object-fit: cover;
}
