@font-face {
    font-family: "Golos Text";
    src: url("../fonts/golos-text/GolosText-Regular.woff2") format("woff2"),
        url("../fonts/golos-text/GolosText-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Golos Text", sans-serif;
    font-weight: normal;
}

.container {
    max-width: 1670px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}

.hero {
    padding: 165px 0;
    background-color: #000000;
    text-align: center;
}

.hero__title {
    margin-bottom: 86px;
    font-size: 24px;
    font-weight: normal;
    line-height: 125%;
    letter-spacing: 0;
    text-align: center;
    text-transform: none;
    opacity: 0.5;
}

.hero__text {
    margin-bottom: 110px;
    font-weight: 400;
    text-align: center;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.hero__img-wrapper {
    display: inline-flex;
    overflow: hidden;
    border-radius: 160px;
    height: 84px;
}

.hero__img {
    height: 100%;
    object-fit: cover;
}

.hero__btn-wrapper {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
}
.hero__btn-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: translateY(-50%);
    z-index: 10;
}

.btn {
    position: relative;
    padding: 24px 56px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 20;
}
.btn:hover {
    background-color: rgb(128, 128, 128);
    color: #ffffff;
    z-index: 20;
}

.btn:before,
.btn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    transition: border-color 0.3s ease;
    z-index: 20;
}

.btn:before {
    left: -24px;
    bottom: 0;
    border-right: 24px solid #ffffff;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}
.btn:after {
    right: -24px;
    bottom: 0;
    border-left: 24px solid #ffffff;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

.btn:hover:before {
    border-right-color: rgb(128, 128, 128);
    z-index: 20;
}
.btn:hover:after {
    border-left-color: rgb(128, 128, 128);
    z-index: 20;
}

/* ------------------@MEDIA------------------ */

@media (max-width: 1024px) {
    .hero {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .hero__title {
        margin-bottom: 54px;
    }
    .hero__text {
        margin-bottom: 90px;
        font-size: 80px;
    }
    .hero__img-wrapper {
        height: 57px;
    }
}

@media (max-width: 768px) {
    .hero {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .hero__title {
        margin-bottom: 40px;
    }
    .hero__text {
        margin-bottom: 80px;
        font-size: 60px;
    }
    .hero__img-wrapper {
        height: 43px;
    }
    .btn {
        padding: 20px;
        font-size: 20px;
    }
    .btn:before {
        border-right: 24px solid #ffffff;
        border-top: 36px solid transparent;
        border-bottom: 36px solid transparent;
    }
    .btn:after {
        border-left: 24px solid #ffffff;
        border-top: 36px solid transparent;
        border-bottom: 36px solid transparent;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .hero__text {
        margin-bottom: 60px;
        font-size: 40px;
    }
    .hero__img-wrapper {
        height: 28px;
    }
    .btn {
        padding: 18px;
        font-size: 18px;
    }
    .btn:before {
        border-top: 34px solid transparent;
        border-bottom: 34px solid transparent;
    }
    .btn:after {
        border-top: 34px solid transparent;
        border-bottom: 34px solid transparent;
    }
}

@media (max-width: 425px) {
    .hero__btn-wrapper::before {
        height: 1px;
    }
    .btn {
        padding: 16px;
        font-size: 16px;
    }
    .btn:before {
        border-top: 32px solid transparent;
        border-bottom: 32px solid transparent;
    }
    .btn:after {
        border-top: 32px solid transparent;
        border-bottom: 32px solid transparent;
    }
}

@media (max-width: 375px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hero__text {
        margin-bottom: 40px;
        font-size: 40px;
    }
    .hero__img-wrapper {
        height: 28px;
    }
    .btn {
        padding: 14px;
        font-size: 14px;
    }
    .btn:before {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
    }
    .btn:after {
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
    }
}

@media (max-width: 350px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hero__text {
        font-size: 30px;
    }
    .hero__img-wrapper {
        height: 21px;
    }
    .btn {
        padding: 12px;
        font-size: 14px;
    }
    .btn:before {
        border-top: 28px solid transparent;
        border-bottom: 28px solid transparent;
    }
    .btn:after {
        border-top: 28px solid transparent;
        border-bottom: 28px solid transparent;
    }
}
